/* ==========================================================================
   Navigation styles
   ========================================================================== */

// Override colors set by Ratchet
.bar-title {
  background-color: $creator;
  background-image: none;
  border: none;
}

// Our custom sidebar
.sidebar {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: $creator;
  width: 200px;
  height: 100%;
  z-index: 5000000;
  color: $white;
  ul {
    background-color: $creator;
    .sprite {
      margin-right: 20px;
      &:first-child {
        margin-top: -15px;
      }
      &:nth-child(2){
        margin-top: -7px;
      }
      &:last-child{
        margin-top: -5px;
      }
    }
    li {
      padding: 25px;
      padding-left: 15px;
      a {
        left: 0;
      }
    }
  }
}