/* ==========================================================================
   Navigation styles
   ========================================================================== */

// Override colors set by Ratchet
.bar-title {
  background-color: $creator;
  background-image: none;
  border: none;
}

// Our custom sidebar
.sidebar {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: red;
  width: 200px;
  height: 100%;
  z-index: 5000000;
}