/* ==========================================================================
   Site styles
   ========================================================================== */

// Changing colors of Ratchet buttons
.bar-title [class*="button"] {
	background-color: $creator;
	background-image: none;
	border: 0px;
}

// Sprite resizes
.sprite {
	width: 30px;
	float: left;
}

body {
	background-image: none;
	background-color: transparent;
}

.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

.ui-mobile-viewport {
	background-color: transparent;
}

.ui-overlay-c {
	background-color: transparent;
}

.ui-page {
	background-color: transparent;
}

.ui-body-c {
	background-color: transparent;
}

.ui-page-active{
	background-color: transparent;
}