/* ==========================================================================
   Site styles
   ========================================================================== */

// Changing colors of Ratchet buttons
.bar-title [class*="button"] {
	background-color: $creator;
	background-image: none;
	border: 0px;
}

// Sprite resizes
.sprite {
	width: 30px;
	float: left;
}