/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$near-black:  #111;
$white: #fff;

/* Gray scale */

$gray-dark:   #222;
$gray-medium: #999;
$gray-light:  #eee;

   
/* Perfect Day colors */
$creator: #8D8199;
$explorer: #D6A392;

/* Type Scale
   ========================================================================== */

/**
 * 12 & 16 as roots then powers of two.
 */

 $body: 24px;



/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-min-width:480px;
$breakpoint-2-max-width:1024px;
