/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$near-black:  #111;
$white: #fff;

/* Gray scale */

$gray-dark:   #222;
$gray-medium: #999;
$gray-light:  #eee;

/* Perfect Day colors */
$creator: #F9a243;
$explorer:  #E97770;

$doughnut-gray: #4D5360;
$dougnut-gray-blue: #949FB1;
$doughnut-tan: #D4CCC5;
$doughnut-light-blue: #E2EAE9;
$doughnut-rouge: #F7464A;

/* Type Scale
   ========================================================================== */

/**
 * 12 & 16 as roots then powers of two.
 */

 $body: 16px;



/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-min-width:480px;
$breakpoint-2-max-width:1024px;
